body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;  
    font-weight: 400;
    color: hsl(220, 14%, 75%);  
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;  
    height: 100px;  
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu {    
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid hsl(223, 64%, 98%);   
}

.top-menu {
    list-style: none;  
    display: flex;
    flex-direction: row;
    padding-left: 32px;
}

#logo {
    height: 22px;
    margin-left: 0;
}

li {
    padding-left: 32px;
}

.account-buttons {
    display: inline-flex;
    text-align: right;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
}

#avatar-img {
    height: 48px;
    padding-left: 32px;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    display: flex;
}

.images-box {
    width: 30%;
    height: 35%;
    background-color: aqua;
}

.text-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-left: 10%
}

/* responsiveness settings */

/* desktop */
@media only screen and (max-width: 1200px) {
  .account-buttons {
    margin-left: 25%;
  }
}

/* tablet */
@media only screen and (max-width: 980px) {
  .account-buttons {
    margin-left: 8%;
  }
}

/* smartphone */ 
@media only screen and (max-width: 470px) {
  .class {
    font-size: 2rem;
  }